.item9 {
  background-image: url("image3.png");
  animation-delay: calc(30s / 4 * (4 - 1) * -1);
}
.item10 {
  background-image: url("image4.png");
  animation-delay: calc(30s / 4 * (4 - 2) * -1);
}
.item11 {
  background-image: url("image5.png");
  animation-delay: calc(30s / 4 * (4 - 3) * -1);
}
.item12 {
  background-image: url("image6.png");
  animation-delay: calc(30s / 4 * (4 - 4) * -1);
}

.wrapper:nth-of-type(3) .itemLeft {
  left: max(calc(200px * 4), 100%);
}
