body {
  background-color: #030712;
}

.wrapper {
  margin-top: 2rem;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.itemLeft,
.itemRight {
  width: 200px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  background-size: cover;
  background-position: center;
}

.item1 {
  background-image: url("https://statics.myclickfunnels.com/workspace/vZraBn/image/9262289/file/caa61b2c4bb76f9c082d9c03237b2ff7.png");
}
.item2 {
  background-image: url("https://via.placeholder.com/200x100.png?text=Image+2");
}
.item3 {
  background-image: url("https://via.placeholder.com/200x100.png?text=Image+3");
}
.item4 {
  background-image: url("https://via.placeholder.com/200x100.png?text=Image+4");
}
.item5 {
  background-image: url("https://via.placeholder.com/200x100.png?text=Image+5");
}
.item6 {
  background-image: url("https://via.placeholder.com/200x100.png?text=Image+6");
}
.item7 {
  background-image: url("https://via.placeholder.com/200x100.png?text=Image+7");
}
.item8 {
  background-image: url("https://via.placeholder.com/200x100.png?text=Image+8");
}
